<nav>
    <ul>
        {% for page in pages %}
            <li>
                <a href="{{ path('home', {slug: page.slug}) }}">{{ page.title }}</a>
                {% if page.children|length > 0 %}
                    <ul>
                        {% for subpage in page.children %}
                            <li><a href="{{ path('home', {slug: subpage.slug}) }}">{{ subpage.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
